.result_container {
    width: 25.3rem;
    // margin: 0 10px;

    .result {
        width: 100%;
        background-color: #f5f5f5;
        padding: 8px 8px 12px 8px;
        border-radius: 5px;
        margin-bottom: 1rem;

        h2 {
            font-weight: 540;
            font-size: 1.1rem;
            margin: 8px 0;
        }

        .result_photo {
            width: 100%;
            height: 10rem;
            border-radius: 5px;
            object-fit: cover;
        }  

        .ranking, .rating_review {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            
        }

        p {
            font-size: 0.85rem;
        }

        .tags {
            display: flex;
            align-items: center;
            margin: 10px 0;

            p {
                // font-size: 0.8rem;
                background-color: #cbcbcb;
                margin-right: 10px;
                padding: 2px 10px;
                border-radius: 3px;
            }
        }

        .location,
        .contact {
            display: flex;
            align-items: center;
            margin-top: 10px;

            .icon {
                margin-right: 5px;
            }
        }
    }
    
}

