.Footer_Component {
    width: 100%;
    background-color: #cfcece;
    padding: 10px 0;

    .footer_container {
        width: 95%;
        margin: 0 auto;

        p {
            font-size: 0.8rem;
        }
    }
}